---
export interface primaryButtonProps {
  path: string;
  position: "center" | "right" | "left";
  class?: string;
}
const { class: className, path, position } = Astro.props;
---

<div class:list={["primarybutton", position]}>
  <div class="circle"></div>
  <a href={path}><slot /></a>
</div>

<style lang="scss">
  .primarybutton {
    display: block;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    background-color: #222;
    border: solid 2px #222;
    border-radius: 24px;
    .circle {
      width: 0%;
      height: 0%;
      opacity: 0;
      line-height: 40px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      transition: all 0.3s ease-Out;
      top: 20px;
      left: 70px;
    }
    a {
      color: #f6f5f0;
      position: relative;
      font-size: 2.2rem;
      letter-spacing: 0.1em;
      display: grid;
      place-items: center;
      padding: 16px;
      box-shadow: 0 0 10px rgb(51 51 51 / 25%);
    }
    &:hover {
      .circle {
        width: 200%;
        height: 500%;
        opacity: 1;
        top: -70px;
        left: -70px;
      }
      a {
        color: #000;
        transition: all 0.3s ease-Out;
      }
    }
    &.center {
      margin-inline: auto;
    }
    &.right {
      margin-inline-start: auto;
    }
    &.left {
      margin-inline-end: auto;
    }
  }
</style>
