---
interface Props {
  class?: string;
  size?: "small" | "lerge";
}
const { class: className, size } = Astro.props;
---

<h2 class:list={["section_title", className, size]}>
  <slot />
</h2>

<style lang="scss">
  @use "src/styles/mixins" as *;
  .section_title {
    color: #222;
    font-size: 7rem;
    letter-spacing: 0.07em;
    line-height: 1;
    margin-bottom: 56px;
    font-family: 游明朝, YuMincho, ヒラギノ明朝 Pro W3, Hiragino Mincho Pro,
      "Noto Serif JP", HG明朝E, MS P明朝, MS 明朝, serif;
    @include mq(s) {
      font-size: 4rem;
      margin-bottom: 40px;
    }
  }
  .small {
    font-size: 3.5rem;
    margin-bottom: 32px;
    @include mq(s) {
      font-size: 3rem;
      margin-bottom: 24px;
    }
  }
  .lerge {
    font-size: 10rem;
    margin-bottom: 80px;
    @include mq(s) {
      font-size: 7rem;
      margin-bottom: 46px;
    }
  }
</style>
