---
import HamburgerMenu from "./atom/HamburgerMenu.astro";

type menu = {
  path: string;
  label: string;
};
const menua: menu[] = [
  {
    path: "/",
    label: "トップ",
  },
  {
    path: "/course",
    label: "コース一覧",
  },
  {
    path: "/profile",
    label: "プロフィール",
  },
  {
    path: "/contact",
    label: "お問い合わせ",
  },
];
---

<header class="header">
  <nav class="header_nav">
    <h1 class="header_logo">
      <a href="/">
        <img src="/images/logo_black.svg" alt="" />
      </a>
    </h1>
    <ul class="header_menu">
      {
        menua.map((a: menu) => {
          return (
            <li>
              <a class="js-link_anime" href={a.path}>
                {a.label}
              </a>
            </li>
          );
        })
      }
    </ul>
    <HamburgerMenu />
  </nav>
</header>

<style lang="scss">
  @use "src/styles/mixins" as *;

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    .header_nav {
      display: flex;
      width: min(100% - 8rem, 1120px);
      padding: 24px 0;
      margin-inline: auto;
      align-items: center;
      @include mq(s) {
        width: min(100% - 4rem, 1120px);
        padding: 16px 0;
      }
      .header_logo {
        margin-right: auto;
        font-size: 32px;
        min-width: 72px;
        width: 72px;
        padding-right: 16px;
        z-index: 10;
      }
      .header_menu {
        display: flex;
        align-items: center;
        gap: 40px;
        @include mq(s) {
          width: 100%;
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          padding-block-start: 30%;
          height: 100vh;
          background: var(--main-c-black);
          gap: 8rem;
        }
        a {
          font-weight: 400;
          letter-spacing: 0.07em;
          white-space: nowrap;
          @include mq(s) {
            font-size: 2.4rem;
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
  }
</style>
